.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
    padding: 5px;
}

.tile.tile-simple .tile-header .controls > li > a {
    line-height: 40px;
    margin-right: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-content {
    position: absolute;
    top: calc(50% - 85px);
    left: calc(50% - 85px);
    text-align: center;
    z-index: 100;
}

.hide {
    display: none;
}

.sidebar-sm #sidebar #navigation > li > a, .sidebar-xs #sidebar #navigation > li > a {
    padding: 10px 5px !important;
}
