.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
    vertical-align: middle;
    padding: 5px;
    font-size: 12px !important;;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    padding: 5px;
    font-size: 11px !important;
}

.tile.tile-simple .tile-header .controls > li > a {
    line-height: 40px;
    margin-right: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-content {
    position: absolute;
    top: calc(50% - 85px);
    left: calc(50% - 85px);
    text-align: center;
    z-index: 100;
}

.hide {
    display: none !important;
}

.sidebar-sm #sidebar #navigation > li > a, .sidebar-xs #sidebar #navigation > li > a {
    padding: 10px 5px !important;
}

.text-center {
    text-align: center !important;
}

.w-160px {
    width: 160px !important;
}

.table.gy-5 td, .table.gy-5 th {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;;
}

.ml-5 {
    margin-left: 5px;
}
